$color: #f80;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $color;
}

.code {
  user-select: none;
}

/* stylelint-disable */
@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("../fonts/webfont.eot");
  src:  // fonts
    url("../fonts/webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfont.woff2") format("woff2"),
    url("../fonts/webfont.woff") format("woff"),
    url("../fonts/webfont.ttf") format("truetype"),
    url("../fonts/webfont.svg#webfont") format("svg");
}

.web-font {
  font-family: "webfont", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
